<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <%- include('./partials/_head.ejs') %>
</head>
<body>
  
        <!-- # HEADER SEGMENT # -->
    <%- include('./partials/_header.ejs', { currentPage: '' }) %>
        <!-- # FOOTER SEGMENT # -->
    <%- include('partials/_footer.ejs') %>
</body>