<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Price Check</h5>
        <p class="text-muted">Price checker.</p>
        <a href="https://github.com/davidvrjn/DROP-TABLE" class="text-decoration-none" target="_blank">
          <i class="bi bi-github me-2"></i>GitHub Repository
        </a>
      </div>
      
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="index.ejs" class="text-decoration-none">Products</a></li>
          <li><a href="deals.ejs" class="text-decoration-none">Best Deals</a></li>
          <li><a href="watchlist.ejs" class="text-decoration-none">Watchlist</a></li>
          <li><a href="about.ejs" class="text-decoration-none">About</a></li>
        </ul>
      </div>
    </div>
    
    <hr>
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p class="text-muted"> Price Check</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <ul class="list-inline mb-0">
        </ul>
      </div>
    </div>
  </div>
</footer>