<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./scss/style.scss">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script type="module" src="./js/script.js"></script>
<title>CompareIt</title>
<!-- Additional common head elements -->
<meta name="description" content="A price checking application for e-commerce products.">
<meta name="author" content="Your Name">
<meta name="keywords" content="price checker, e-commerce, deals, watchlist">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
